.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;

    .content{
        width: 1120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        
        .contentTitle {
            text-align: end;
            .title{
                font-size: clamp(10px, 8vw, 20px);;
            }
            .subTitle {
  
            }
            @media (max-width: 560px) {
                text-align: start;
            }
        }
        
        .menu{
            font-size: 30px;
            display: none;
            cursor: pointer;
            
            @media (max-width: 560px) {
                display: flex;
                position: absolute;
                right: 20px;
                z-index: 40;
            }
        }

        .navLinks{
            display: flex;
            gap: 20px;
    
            @media (max-width: 560px) {
                flex-direction: column;
                background-color: rgba(0, 0, 0, 0.5); 
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                position: fixed;
                height: 100%;
    
                width: 100%;
                inset: 0 -100% 0 auto;
                transition: all 500ms;
                
                &.sideBarActive{
                    right: 0;
                }

                div {
                    margin-top: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }

            .link{
                text-decoration: none;

                .active, .ancora{
                    font-size: 20px;
                    height: 100px;
                    transition: 0.3s;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
            
                    @media (min-width: 560px) {
                        align-items: center;
                        display: flex;
                        padding: 0px 10px;
                    }
                }

                .active{
                    background-color: rgba(0, 0, 0, 0.8);
                    height: 98%;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
            
        }
    }
}